{% set ajax = TRUE %}

{% set fwutils = TRUE %}

{% set parsley = TRUE %}

{% set editable = TRUE %}

{% extends '@content/page.twig' %}

{% block meta %}
    <meta name="description" content="The details of a note." />
{% endblock meta %}

{% set breadcrumbs = [{link: base ~ '/projects', text: 'Projects'}, {link: base ~ '/projects/view/project/'~project.id~'/',text: project.title}, {text: note.title}] %}
{% import '@content/iconmacro.twig' as i %}
{% import '@util/modalmacro.twig' as m %}
{% import '@util/formmacro.twig' as f %}

{% block css %}
<link rel="stylesheet" href="{{assets}}/css/custom.min.css" />
{% endblock css %}

{% set title = 'MARIMBA - ' ~ note.title %}

{% block setup %}
{% endblock setup %}

{% if not page is defined %}
    {% set page = 1 %}
{% endif %}

{% set pagesize = 6 %}

{% block onload %}
$('#delb').on('click', function(e){
    framework.deletebean(e, $(this), 'note', {{note.id}}, function(ret){
        bootbox.alert('<h3>Note Deleted.</h3>', function(){
                window.location.replace('{{base}}/projects/view/project/{{project.id}}/');
            });
    });
});

$('.delcard').on('click', function(e){
    
    framework.deletebean(e, $(this), 'upload', $(this).data('upload-id'), function(ret){
        bootbox.alert('<h3>File Deleted.</h3>', function(){
                location.reload();
            });
    });
});
{% endblock onload %}

{% set pages = siteinfo.pagecount('upload', pagesize, 'note_id=?', [note.id]) %}

{% block header %}
    <article class="col-md-12 mt-5">
    <p class="font-italic text-muted text-right mt-5 mr-5"> Created at: {{note.created}}</p>
    <button type="button" class="btn btn-danger float-right" id="delb">{{i.delete}} Delete Note</button>
    <a class="btn btn-secondary float-right mr-3" href="{{base}}/projects/edit/note/{{note.id}}/">{{i.edit}} Edit Note</a>
        <h1> {{note.title}} </h1>
    </article>
{% endblock header %}

{% block main %}
    {% if note.note %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto mt-1">
            <h2>Note</h2>
            <div class="ml-5">
                <p class="lead">{{note.note}}</p>
            </div>
        </article>
    </section>
    {% endif %}
    <section class="row">
        <article class="ml-auto col-md-10 col-sm-12 mr-auto mt-1">
            <h2>Attached Files</h2>
            <div class="ml-5">
            <form action="#" method="post" role="form" enctype="multipart/form-data">
                {{f.hidden({name: 'note', value: note.id})}}
                <div class="form-group">
                    <label for="f0" class="control-label">Add a File</label>
                    <input type="file" id="f0" name="uploads[]" class="form-control-file" required="required"/>
                </div>
                <button class="btn btn-primary mb-2" type="submit">Upload</button>
            {{f.endform}}
                <div class="jumbotron">
                {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
                    <div class="row" id="pgrid">
                        {% for u in siteinfo.fetch('upload', 'note_id=?', [note.id], page, pagesize) %}
                            <div class="col-sm-12 col-md-6 col-lg-4 mt-2 mb-2">
                                <div class="card text-white bg-secondary shadow file">
                                    <div class="card-body">
                                        <h5 class="card-title">{{i.fa('file')}}</h5>
                                        <h5 class="">{{u.filename}}</h5>
                                    </div>
                                    <div class="card-footer p-0">
                                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                                            <a class="btn btn-primary" href="{{base}}/private/file/{{u.id}}">{{i.fa('file-download')}} Download</a>
                                            <button type="button" class="btn btn-danger float-right delcard" data-upload-id="{{u.id}}">{{i.delete}} Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <p class="m-1">This note doesn't have any files.</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </article>
    </section>

    {% if note.started %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto mt-1">
            <h2>Other Details</h2>
            <div class="ml-5">
                <p><span class="font-weight-bold">Started:</span> {{note.started}}</p>
                <p><span class="font-weight-bold">Finished:</span> {{note.finished}}</p>
            </div>
        </article>
    </section>
    {% endif %}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}