{% set ajax = TRUE %}
{% set fwutils = TRUE %}
{% set parsley = TRUE %}

{% set breadcrumbs = [{link: base ~ '/', text: 'Home'}, {text: project.title}] %}
{% import '@content/iconmacro.twig' as i %}
{% import '@util/modalmacro.twig' as m %}
{% import '@util/formmacro.twig' as f %}

{% extends '@content/page.twig' %}

{% block onload %}
$('#addnform').on('submit', false).parsley();
$('#addb').on('click', function(e){
        e.preventDefault();
        $(this).attr('disabled', true);
        let data = {};
        const frm = $('#addnform');
        $('input:text,textarea', frm).each(function(index, element){
             data[$(this).attr('name')] = $(this).val();
        });
        framework.beanCreate('note', data, function(ret){
            $('#addn').modal('hide');
            bootbox.alert('<h3>Note Successfully Added.</h3>', function(){
                location.reload();
            });
        }, '#addb');
    });
{% endblock onload %}

{% block header %}
    <article class="col-md-12 mt-5">
    <button type="button" class="btn btn-danger float-right">Danger</button>
    <p class="font-italic text-muted text-right mt-5"> Created at: {{project.created}}</p>
        <h1> {{project.title}} </h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-12 mr-auto">
        {% if project.description %}
            <p class="lead">{{project.description}}</p>
        {% else %}
            <p class="font-italic text-muted lead">This project has no description.</p>
        {% endif %}
        <p class="text-right mt-5">{{m.invoke('addn','Add a Note')}}</p>
            {{m.open({id: 'addn', title: 'Please enter your note.'})}}
            <div class="modal-body">
             {% include '@util/message.twig' %}
                {{f.startform({method: 'post', id: 'addnform'})}}
                    {{f.text({label: 'Note Title (Required)', name: 'title', ph: 'Note Title', parsley: {trigger: 'blur', whitespace: 'trim' , required: TRUE}})}}
                    {{f.textarea({label: 'Note', id: 'textarea', name: 'note', ph: 'Write Your Note Here', parsley: {trigger: 'blur', required: TRUE}})}}
                {{f.endform()}}
            </div>
            {{m.close({action: 'Add', id: 'addb'})}}

        <div class="jumbotron p-4">
            {# otherwise, if they have no projects, display text instead #}
                <div class="col-md-12">
                <p class="text-muted m-1">This project doesn't have any notes.</p>
        </div>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}