{% set ajax = TRUE %}

{% set fwutils = TRUE %}

{% set parsley = TRUE %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/custom.min.css" />
{% endblock css %}

{% block meta %}
    <meta name="description" content="The user's projects page." />
{% endblock meta %}

{% extends '@content/page.twig' %}

{% set title = 'MARIMBA - Projects' %}

{% import '@content/iconmacro.twig' as i %}
{% import '@util/modalmacro.twig' as m %}
{% import '@util/formmacro.twig' as f %}

{% if not page is defined %}
    {% set page = 1 %}
{% endif %}

{% set pagesize = 6 %}

{% block onload %}
$('#addmform').on('submit', false).parsley();
$('#addb').on('click', function(e){
        e.preventDefault();
        $(this).attr('disabled', true);
        let data = {private : 0};
        const frm = $('#addmform');
        $('input:checked', frm).each(function(index, element){
             data[$(this).attr('name')] = 1;
        });
        $('input:text,textarea', frm).each(function(index, element){
             data[$(this).attr('name')] = $(this).val();
        });
        framework.beanCreate('project', data, function(ret){
            $('#addm').modal('hide');
            bootbox.alert('<h3>Project Successfully Created</h3>', function(){
                location.reload();
            });
        }, '#addb');
    });
{% endblock onload %}

{% set pages = siteinfo.pagecount('project', pagesize, 'user_id=?', [context.user.id]) %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-left mt-5">{{context.user.login}}'s Projects</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-12 mr-auto">
        {# Create a button that opens a modal for adding projects. #}
            <p class="float-right">{{m.invoke('addm','Add a Project')}}</p>
            {# Customise the modal for creating a project, adding a form. #}
            {{m.open({id: 'addm', title: 'Please enter your project details.'})}}
            <div class="modal-body">
             {% include '@util/message.twig' %}
                {{f.startform({method: 'post', id: 'addmform'})}}
                    {{f.text({label: 'Project Title', name: 'title', ph: 'My Project', parsley: {trigger: 'blur', whitespace: 'trim' , minlength: 3, required: TRUE}})}}
                    {{f.textarea({label: 'Description (Optional)', id: 'textarea', name: 'description', ph: 'Describe your project here...', parsley: {trigger: 'blur'}})}}
                    {{f.checkbox({group: FALSE, names: ['private'], labels: ['Privated'], values: [1], check: [TRUE]})}}
                {{f.endform()}}
            </div>
            {{m.close({action: 'Add', id: 'addb'})}}
        </article>
    </section>

    <section class="row">
        <article class="mx-auto col-md-12">
            <div class="jumbotron p-4">
                {% include '@util/paginate.twig' with { page : page, pagesize: pagesize, pages: pages} %}
                <div class="row" id="pgrid">
                    {# create cards for all of the user's projects #}
                    {% for p in siteinfo.fetch('project', 'user_id=?', [context.user.id], page, pagesize) %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-2 mb-2">
                            <div class="card text-white bg-dark shadow">
                                <div class="card-body">
                                    <h5 class="card-title text-capitalize">{{p.title}}</h5>
                                    {% if p.description %}
                                    <p>{{p.description}}</p>
                                    {% else %}
                                    <p class="font-italic text-muted">This project has no description.</p>
                                    {% endif %}
                                </div>
                                <div class="card-footer text-right">
                                <p class="text-muted float-left">{{splural(siteinfo.count('note', 'project_id=?', [p.id]),'Note')}}</p>
                                    <a class="btn btn-light" href="{{base}}/projects/view/project/{{p.id}}/">{{i.view}} View Project</a>
                                </div>
                            </div>
                        </div>
                    {# otherwise, if they have no projects, display text instead #}
                    {% else %}
                     <div class="col-md-12">
                        <p class="text-muted m-1">You do not have any projects.</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </article>
    </section>
{% endblock main %}

{% block footer %}
{% endblock footer %}
