{% set ajax = TRUE %}

{% set fwutils = TRUE %}

{% set parsley = TRUE %}

{% extends '@content/page.twig' %}

{% set title = context.user.login ~ '\'s Projects' %}

{% import '@util/modalmacro.twig' as m %}

{% import '@util/formmacro.twig' as f %}

{% block onload %}
$('#addmform').on('submit', false).parsley();
$('#addb').on('click', function(e){
        e.preventDefault();
        $(this).attr('disabled', true);
        let data = {private : 0};
        const frm = $('#addmform');
        $('input:checked', frm).each(function(index, element){
             data[$(this).attr('name')] = 1;
        });
        $('input:text,input[type="textarea"]', frm).each(function(index, element){
             data[$(this).attr('name')] = $(this).val();
        });
        framework.beanCreate('project', data, function(ret){
            $('#addm').modal('hide');
        }, '#addb');
    });
{% endblock onload %}

{% if not page is defined %}
    {% set page = 1 %}
    {% set pagesize = 10 %}
{% endif %}

{% set pages = siteinfo.pagecount('project', pagesize) %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-left mt-5">{{context.user.login}}'s Projects</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-12 mr-auto">
        {# Create a button that opens a modal for adding projects. #}
            <p class="float-right">{{m.invoke('addm', 'Add a Project')}}</p>
            {# Customise the modal for creating a project, adding a form. #}
            {{m.open({id: 'addm', title: 'Please enter your project details.'})}}
            <div class="modal-body">
             {% include '@util/message.twig' %}
                {{f.startform({method: 'post', id: 'addmform'})}}
                    {{f.text({label: 'Project Title', name: 'title', ph: 'My Project', parsley: {trigger: 'blur', minlength: 3, required: true}})}}
                    {{f.textarea({label: 'Description (Optional)', id: 'textarea', name: 'description', ph: 'Describe your project here...', parsley: {trigger: 'blur'}})}}
                    {{f.checkbox({group: FALSE, names: ['private'], labels: ['Privated'], values: [1], check: [TRUE]})}}
                {{f.endform()}}
            </div>
            {{m.close({action: 'Add', id: 'addb'})}}
        </article>
    </section>

    <section class="row">
        <article class="mx-auto col-md-12">
            <div class="jumbotron p-4">
                <div class="row">
                    {# create cards for all of the user's projects #}
                    {% for u in context.user.projects() %}
                        <div class="col-sm-12 col-md-6 col-lg-4 mt-1">
                            <div class="card h-100 text-white bg-dark">
                                <div class="card-body">
                                    <h5 class="card-title">{{u.title}}</h5>
                                    <p>{{u.description}}</p>
                                </div>
                                <div class="card-footer text-right">
                                    <a  class="btn btn-light" href="{{base}}/project/{{u.id}}">View Project</a>
                                </div>
                            </div>
                        </div>
                    {# otherwise, if they have no projects, display text instead #}
                    {% else %}
                        <p class="text-muted">You do not have any projects.</p>
                    {% endfor %}
                </div>
            </div>
        </article>
    </section>
{% endblock main %}

{% block footer %}
{% endblock footer %}
