{% set parsley = TRUE %}

{% set title = context.user.login ~ '\'s Projects' %}

{% extends '@content/page.twig' %}

{% import '@util/modalmacro.twig' as m %}

{% import '@util/formmacro.twig' as f %}

{% block onload %}
$('#pform').on('submit', function(e){
    return $(this).parsley().validate(); 
}).parsley(); 

$('#modal').modal(backdrop='static');
{% endblock onload %}

{% block header %}
    <article class="col-md-12">
        <h1 class="text-left mt-5">{{context.user.login}}'s Projects</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-12 mr-auto">
        {# Create a button that opens a modal for adding projects. #}
            <p>{{m.invoke('modal', 'Add a Project')}}</p>
            {# Customise the modal for creating a project, adding a form. #}
            {{m.open({id: 'modal', title: 'Please enter your project details.'})}}
            <div class="modal-body">
             {% include '@util/message.twig' %}
                {{f.startform({method: 'post', id: 'pform'})}}
                    {{f.text({label: 'Project Title', name: 'title', ph: 'Project Title', parsley: {trigger: 'blur', minlength: 3, required: true}})}}
                    {{f.textarea({label: 'Description (Optional)', id: 'desc', name: 'desc', ph: 'Project Description', parsley: {trigger: 'blur'}})}}
                    {{f.checkbox({group: FALSE, ids : ['iprivc'], names: ['privc'], labels: ['Privated'], values: [1], check: [TRUE]})}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <input class = "btn btn-primary" type="submit" value = "Create Project"/>
                
                {{f.endform()}}
            </div>
            {{m.end()}}
        </article>
    </section>
{% endblock main %}

{% block footer %}
{% endblock footer %}
