{% set ajax = TRUE %}

{% set fwutils = TRUE %}

{% set parsley = TRUE %}

{% set editable = TRUE %}

{% extends '@content/page.twig' %}

{% block meta %}
    <meta name="description" content="Edit a note." />
{% endblock meta %}

{% set breadcrumbs = [{link: base ~ '/projects', text: 'Projects'}, {link: base ~ '/projects/view/project/'~project.id~'/',text: project.title}, {link: base ~ '/projects/view/note/'~note.id~'/', text: note.title}, {text: 'Edit Note'}] %}
{% import '@content/iconmacro.twig' as i %}
{% import '@util/modalmacro.twig' as m %}
{% import '@util/formmacro.twig' as f %}

{% block scripts %}
    <script src="{{assets}}/js/moment.js"></script>
{% endblock scripts %}

{% set title = 'MARIMBA - Edit ' ~ note.title %}

{% block onload %}

$('#editpform').on('submit', function(e){
    return $(this).parsley().validate();
});
{% endblock onload %}

{% block header %}
    <article class="col-md-12 mt-5">
        <h1 class="mt-5"> Edit Note: <span class="font-italic">{{note.title}}</span></h1>
    </article>
{% endblock header %}

{% block main %}
<section class="row">
    <article class="col-md-12">
     {% include '@util/message.twig' %}
        <form action="#" method="post" id="editpform" data-parsley-validate>
            {{f.hidden({name: 'bean', value: note.id})}}
            {{note.guard|raw}}
            {{f.text({label: 'Note Title (Required)', name: 'title', value: note.title, ph: 'Note Title', parsley: {trigger: 'blur', minlength:3 , whitespace: 'trim', required: TRUE}})}}
            {{f.textarea({label: 'Note (Required)', id: 'textarea', name: 'note', value: note.note, ph: 'Write your note here...', parsley: {trigger: 'blur'}})}}
            <a class="btn btn-secondary btn-lg" href="{{base}}/projects/view/note/{{note.id}}/" type="submit">Return to Note</a>
            <button class="btn btn-primary btn-lg" type="submit">Save</button>
        {{f.endform()}}
    </article>
</section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}